page-register {
    ion-content {
        background-image: url('../../assets/imgs/fundo2.jpg');
        background-size: 110%;
        background-repeat: no-repeat;
        margin-top: 10%;
    }

    h1 {
        color: white;
        text-align: center;
        padding-top: 100px;
    }

    ion-item {
        background: rgba(255, 255, 255, 0.2) !important;
    }

    ion-label, ion-input {
        color: black !important;
    }
}
